.header-site{
    
    background-image: url(./files/22.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 250px;
    padding-bottom: 250px;
 }

#letra1{
    font-weight: bold;
    font-size: 8em;
    line-height: 1.2;
    font-family: 'Sacramento', cursive;
}

#letra2{
    font-size: 2.5em;
    line-height: 1.2;
    font-family: 'Sacramento', cursive;
}

.content-site{
    padding-top: 200px;
    padding-bottom: 200px;
    color: rgb(234, 235, 243);
    background: rgb(134, 198, 228);  
    font-family: 'Brygada 1918', serif; 
}
#letra3{
    font-weight: bold;
    font-size: 6em;
    line-height: 1.2;
    font-family: 'Sacramento', cursive;
}

#letra4{
    font-weight: bold;
    font-size: 1.4em;
    line-height: 1.2;
    font-family: 'Brygada 1918', serif;
}

.img-site{
    background-image: url(./files/3.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:hsl(0, 0%, 100%);
    padding-top: 200px;
    padding-bottom: 200px;

}

#letra5{
    font-weight: bold;
    font-size: 5.5em;
    line-height: 1.2;
    font-family: 'Sacramento', cursive;
}

#letra6{
    font-weight: bold;
    font-size: 2.4em;
    line-height: 1.2;
    font-family: 'Courgette', cursive;
}

.footer-site{
    background: rgb(175, 208, 228);
    color:darkblue;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 2.2em;
    line-height: 1.2;
    font-family: 'Courgette', cursive;
}